p {
   font-family: 'Courier New', Courier, monospace;
}
h1 {
   font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #5bba6f;
}
.destaque{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.unix{
    font-size: 50px;
}
.bash{
    font-size: 30px;
}
.git{
    font-size: 25px;
}
.github{
    font-size: 20px;
}